<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/style.css">
</head>

<body>
    <div class="card">
        <h1 class="title-col"><a href="/login">Login</a> / <a href="/register">Register</a></h1>

        <form class="main-col" action="/register" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="repeat-password" placeholder="Repeate Password" required><br>
            <button class="ascii-button" type="submit">Register</button>
        </form>
    </div>
</body>

</html>